<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
</head>

<body>
    
    <h1>Make a new Tweet</h1>
    
    <form action="/tweets" method="POST">
        
        <section>
            <label for="username">Enter username:</label>
            <input type="text" id="username" placeholder="username" name="username">
        </section>
        
        <section>
            <label for="tweet">Tweet</label>
            <br>
            <textarea name="tweet" id="tweet" cols="30" rows="5"></textarea>
        </section>
        
        <button>Submit</button>

    </form>

    <a href="/tweets">Back to Tweeter Homepage</a>
    
</body>

</html>